NEXT_PUBLIC_SITE_URL=https://www.moviefinderforyou.com
NEXT_PUBLIC_GA_ID=G-67QFPGPQ8T
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
MONGODB_URI=mongodb+srv://parupallisaiharshitha_db_user:2WupJnyi90kmh3dT@cluster0.mo2ufsz.mongodb.net/moviefinder?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=fb64df5d8afe62c83d028cc0508d96a842931544bdd22314421a18b0d7ef19a5
TMDB_API_KEY=90eb9eb2d9ab2334eb82ec41b314e5f0
GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
GITHUB_CLIENT_ID=replace-with-github-client-id
GITHUB_CLIENT_SECRET=replace-with-github-client-secret
SMTP_HOST=moviefinderforyou@gmail.com
SMTP_PORT=587
SMTP_USER=moviefinderforyou@gmail.com
SMTP_PASS=http://localhost:3000

